body {
  font-family: Verdana, sans-serif;
  background: rgb(240,240,240);
  background-attachment: fixed;
}

h1 {
  background:rgb(180,180,255);
  text-align: center;
  text-wrap: wrap;
  color: cornsilk;
  text-shadow: 2px 2px 5px rgba(0,0,0);
  border-radius: 15px;
  max-width: 600px;
  min-width: 230px;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  color: rgb(60,30,85);
  
}

p {font-size: 1.2em;
font-weight: bold;
color: white;
text-shadow: 2px 2px 5px rgba(0,0,0)
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 340px;
  height: 340px;
  border: 1px solid rgb(240,240,240);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(120, 120, 170);
  background-color: rgb(240,240,255);
}

.card h2, p {
  text-align: center;
  text-wrap: wrap;
  font-weight: bold;
}

.card img {
  display: block;
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  box-shadow: 2px 2px 5px gray;
}